<ion-view view-title="{{operacao}} Borra">
	<ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ng-click="cancelar()">
      <i class="icon ion-ios-arrow-back"></i> 
    </button>
	</ion-nav-buttons>
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-color: #0c63ee;">
            <div class="content">
                <div class="avatar" style="background-image: url('img/user_add.png');"></div>
                <h3><a class="light">{{operacao}} Borra</a></h3>
                <h4>&nbsp;</h4>
            </div>
        </div>
		<div class="im-wrapper">
            <form name="formBorra">
			<div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Nome</span>
                    <input type="text" name="nome" placeholder="Informe seu Nome" ng-model="borra1.nome">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Apelido</span>
                    <input type="text" name = "apelido" placeholder="Informe seu Apelido" ng-model="borra1.apelido">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">E-mail</span>
                    <input type="text" name="email" placeholder="Informe seu E-mail" ng-model="borra1.email">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Data de Nascimento</span>
                    <input type="date" name="data_nascimento" placeholder="Informe sua Data de Nascimento" ng-model="borra1.data_nascimento">
                </label>
				<br>
                <button class="button button-block button-positive" ng-click="salvarBorra(formBorra)">
                    Salvar
                </button>				
                <button class="button button-block button-assertive" ng-click="cancelar()">
					Cancelar
                </button>				                			
			</div>
			</form>
		</div>			
    </ion-content>
</ion-view>
