<ion-view view-title="Borras">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-ripple">
        <div class="item card-item">
            <div ui-sref="app.borra_details" class="card" style="background-color: #fafafa; margin: 0;">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/crown.png');"></span>
                    <strong>BorraMaster</strong>
                    <div class="card-footer text-right"><i class="icon ion-trophy"></i> 123.445
                        <div class="pull-left">
                            Francisco Silva
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.borra_details" class="card" style="background-color: #fafafa; margin: 0;">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/sausage.png');"></span>
                    <strong>BorraLinguiça</strong>
                    <div class="card-footer text-right"><i class="icon ion-trophy"></i> 13.475
                        <div class="pull-left"> 
						Nome Completo
                        </div>
                    </div>
                </div>
            </div>
        </div>		
    </ion-content>
</ion-view>
