<ion-view view-title="Início">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-color: #0c63ee;">
            <div class="content">
                <div class="avatar" style="background-image: url('img/logo.png');"></div>
                <h3><a class="light">BorraApp</a></h3>
                <h4>&nbsp;</h4>
            </div>
        </div>
		<div class="im-wrapper">
			<h4><i class="icon ion-trophy"></i> Ranking da Borração</h4>
		</div>		
        <div class="item card-item">
            <div ui-sref="app.borra_details" class="card" style="background-color: #fafafa; margin: 0;">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/crown.png');"></span>
                    <strong>BorraMaster</strong>
                    <div class="card-footer text-right"><i class="icon ion-trophy"></i> 123.445
                        <div class="pull-left">
                            Francisco Silva
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.borra_details" class="card" style="background-color: #fafafa; margin: 0;">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/sausage.png');"></span>
                    <strong>BorraLinguiça</strong>
                    <div class="card-footer text-right"><i class="icon ion-trophy"></i> 12.445
                        <div class="pull-left">
                            Nome Completo
                        </div>
                    </div>
                </div>
            </div>
        </div>		
		<div class="im-wrapper">
			<h4 class="border-top"><i class="icon ion-calendar"></i> Próximos Eventos</h4>		
		</div>
        <div class="item card-item">
            <div ui-sref="app.event_details" class="card" style="background-color: #fafafa; margin: 0;">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/event.png');"></span>
                    <strong>Nome do Evento 2</strong>
                    <div class="card-footer text-right">BorraMaster
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> Há 3 dias
                        </div>
                    </div>
                </div>
            </div>
        </div>			
    </ion-content>
</ion-view>
