<ion-view ng-init="configFCM()" view-title="Início">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-color: #0c63ee;">
            <div class="content">
                <div class="avatar" style="background-image: url('img/logo.png');"></div>
                <h3>{{user.apelido}}</h3>
                <h4>{{user.nome}}</h4>
            </div>
        </div>
		<div class="im-wrapper">
			<h4><i class="icon ion-trophy"></i> Ranking da Borração</h4>
		</div>		
        <div class="item card-item" ng-repeat="borra in borras">
            <div ng-click="verBorra(borra)" class="card" style="background-color: #fafafa; margin: 0;">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/crown.png');"></span>
                    <strong>{{borra.apelido}}</strong>
                    <div class="card-footer text-right"><i class="icon ion-trophy"></i> {{borra.pontos}}
                        <div class="pull-left">
                            {{borra.nome}}
                        </div>
                    </div>
                </div>
            </div>
        </div>        	
		<div class="im-wrapper">
			<h4 class="border-top"><i class="icon ion-calendar"></i> Próximos Eventos</h4>		
		</div>
        <div class="item card-item" ng-repeat="evento in eventos">
            <div ng-click="verEvento(evento)" class="card" style="background-color: #fafafa; margin: 0;" >
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/event.png');"></span>
                    <strong>{{evento.nome}}</strong><br>
						<i class="icon ion-clock"></i> Início: {{evento.data_inicio_string}}<br>
                        <i class="icon ion-clock"></i> Fim: {{evento.data_fim_string}}
						<div class="card-footer text-left"><strong>Organizador:</strong> {{evento.nome_borra_criador}}</div>
                </div>
            </div>
        </div>
		<h4 class="text-center" ng-if="eventos.length==0">Nenhum evento próximo.</h4>
    </ion-content>
</ion-view>
