<ion-view view-title="{{operacao}} Evento">
    <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ng-click="cancelar()">
      <i class="icon ion-ios-arrow-back"></i> 
    </button>
	</ion-nav-buttons> 
	<ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-color: #0c63ee;">
            <div class="content">
                <div class="avatar" style="background-image: url('img/event_add.png');"></div>
                <h3><a class="light">Adicionar um novo Evento</a></h3>
                <h4>&nbsp;</h4>
            </div>
        </div>
		<div class="im-wrapper">
            <form name="formEvento">
				<div class="list">
					<label class="item item-input item-floating-label">
						<span class="input-label">Nome do Evento</span>
						<input type="text" name="nome"  placeholder="Informe o Nome do Evento" ng-model="evento1.nome">
					</label>
					<label class="item item-input item-floating-label">
						<span class="input-label">Descrição</span>
						<input type="text" name="descricao"  placeholder="Informe a Descrição do Evento" ng-model="evento1.descricao">
					</label>
					<label class="item item-input item-floating-label">
						<span class="input-label">Local</span>
						<input type="text" name="local"  placeholder="Informe o Local do Evento" ng-model="evento1.local">
					</label>
					<div class = "row" style="padding-bottom: 15px;">
						<div class = "col-50">
							<label class="item item-input item-floating-label">
								<span class="input-label">De:</span>
								<input type="date" name="data_inicio"  placeholder="Informe a Data de Início do Evento" ng-model="evento1.data_inicio" ng-change="ver_data()">
							</label>
						</div>
						<div class = "col-50">
							<label class="item item-input item-floating-label">
								<span class="input-label">Até:</span>
								<input type="date" name="data_fim" placeholder="Informe a Data de Encerramento do Evento" ng-model="evento1.data_fim">
							</label>
						</div>
					</div>
					<br>
					<button class="button button-block button-positive" ng-click="novoEvento(formEvento)">
						Salvar
					</button>									
				</div>
			</form>
    </ion-content>
</ion-view>
