<ion-view view-title="Eventos">
    <ion-content ng-class="{expanded:isExpanded}">
		<ion-list class="disable-user-behavior animate-ripple">
				<div class="list">
					<div ng-click="" class="item item-avatar item-icon-right animate-ripple" ng-repeat="evento in eventos">
						<img src="img/crown.png">
						<h2>Evento: {{evento.nome}}</h2>						
						<p>In&#237cio: {{evento.data_inicio}}</p>
						<p>Fim: {{evento.data_fim}}</p>
						<i class="icon ion-chevron-right" style="font-size: 10px;"></i>
					</div>
				</div>
		</ion-list>
    </ion-content>
</ion-view>