<ion-view view-title="Eventos">
    <ion-content ng-class="{expanded:isExpanded}">
		<ion-list class="disable-user-behavior animate-ripple">
				<div class="list">
					<ion-item nav-clear="" menu-close="" class="item-icon-right item-avatar" ng-repeat="evento in eventos">
						<img src="img/crown.png">
						<h2>Evento: {{evento.nome}}</h2>						
						<p>In&#237cio: {{evento.data_inicio}}</p>
						<p>Fim: {{evento.data_fim}}</p>
					</ion-item>
				</div>
		</ion-list>
    </ion-content>
</ion-view>
