<ion-view view-title="Justificar a Borrada">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-ripple">
	<div class="item card-item">
		<div class="list card stable-bg" style="background-color: #fafafa;">
		   <div class="item item-avatar">
			  <img src="img/dislike.png" style="box-shadow: 0 0 0 0; max-height: 50px; max-width: 50px;">
			  <h2>Que bela <strong>Borrada</strong> hein?!</h2>
		   </div> 
		   <div class="item item-body" style="padding-top: 0; min-height: 30px;">
				<p style="font-size: 15px; margin-top: 0; ">Qual o <strong>migué</strong> dessa vez?</p>
		   </div>
			<div class = "row" style="padding-bottom: 10px;">
			  <div class = "col">
				<button class="center button button-small button-flat button-positive" style="min-width: 200px;" ng-click="loading()">Vou Dormir</button>
			  </div>
		   </div>
		   	<div class = "row" style="padding-bottom: 10px;">
			  <div class = "col">
				<button class="center button button-small button-flat button-positive" style="min-width: 200px;" ng-click="loading()">Esqueminha</button>
			  </div>
		   </div>
			<div class = "row" style="padding-bottom: 10px;">
			  <div class = "col">
				<button class="center button button-small button-flat button-positive" style="min-width: 200px;" ng-click="loading()">Viajando</button>
			  </div>
		   </div>
		   	<div class = "row" style="padding-bottom: 15px;">
			  <div class = "col">
				<button class="center button button-small button-flat button-positive" style="min-width: 200px;" ng-click="loading()">Sem Comentários</button>
			  </div>
		   </div>		   
		</div>
	</div>
    </ion-content>
</ion-view>
