<ion-view view-title="Meu Perfil">
	<ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ng-click="cancelar()">
      <i class="icon ion-ios-arrow-back"></i> 
    </button>
	</ion-nav-buttons>
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-color: #0c63ee;">
            <div class="content">
                <div class="avatar" style="background-image: url('img/crown.png');"></div>
                <h3>{{user.apelido}}</h3>
                <h4>{{user.nome}}</h4>
            </div>
        </div>
        <span class="content padding double-padding-x"></span>
		<div class="list">	
			<a class="item item-icon-left item-avatar" style="padding-left: 75px;"> 
				<img src="img/trophy.png" style="top: 6px;">
				<h2>Pontos</h2> 
				<span class="badge badge-assertive">124500</span> 
			</a>
			<a class="item item-icon-left item-avatar" style="padding-left: 75px;"> 
				<img src="img/dislike.png" style="top: 6px;">
				<h2>Borradas</h2> 
				<span class="badge badge-assertive">4500</span> 
			</a> 			
		</div>
    </ion-content>
</ion-view>
